* {
    box-sizing: border-box;
}

body {
    margin: 0;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;    
    background: linear-gradient(to right, rgb(41, 193, 244), rgb(244, 244, 135))
}

.header {
    width: 100%;
    height: 50px;
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.nav {
    width: 200px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    font-size: large;
}

.link {
    text-decoration: none;
    color: black;
}

.link:hover {
    text-decoration: underline;
    color: blue;
}

main {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;    
}

h1 {
    height: 50px;
    color: white;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    -webkit-text-stroke: 0.5px rgb(11, 11, 11);
}

.select {
    width: 150px;
    height: 35px;
    font-size: large;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}

.button {
    width: 150px;
    height: 35px;
    font-size: large;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}

.cardHeading {
    text-align: center;
}

.weatherCard {
    width: 450px;
    height: 300px;    
    position: absolute;
    display: flex;
    align-self: center;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    border-radius: 15px;
    box-shadow: 10px 10px 5px rgb(67, 84, 106);
    margin-top: 270px;
}

li {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
}

.loader {
    width: 48px;
    height: 48px;
    border: 5px solid #fff;
    border-bottom-color: #092fef;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 0.7s linear infinite;
    position: absolute;
    top: 50%;
    left: 50%;
}

.hide {
    display: none;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.footer {
    width: 100%;
    height: 50px;
    bottom: 0;
    background-color: rgb(153, 198, 243);
    margin-top: 30px;
}